@import url('https://fonts.googleapis.com/css?family=Russo+One');

html, body
{
	font-size:14px;
}

@media screen and (max-width: 700px) {
	html
	{
		font-size:12px;
	}	
}

body
{
	max-width:940px;
	margin:0 auto 0 auto;
	padding: 0 42px 0 42px;
}

@media screen and (max-width: 1024px) {
	body
	{
		width:90%;
		padding:0 5% 0 5%;
	}	
}

header
{
	margin-bottom:100px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top:0;
	margin-bottom:15px;
	font-family:'Russo One', sans-serif;
	font-weight: normal;
}

h2
{
	font-size:3.43rem;
}

h3
{
	font-size:1.71rem;
}

.icon-title
{
	font-size: 1.57rem;
	margin-left:0.71rem;
}

/* блок стилей для звезд */
.hider
{
	overflow: hidden;
	
}

@media screen and (max-width: 1024px) {
	.hider
	{
		-webkit-mask:url('img/opacity-mask.png');
		-webkit-mask-repeat:no-repeat;
		-webkit-mask-size:100% 100%;
		-webkit-mask-position:right;
	}	
}

.stars
{
	margin-top:15px;
	width: 910px;
	padding:0 15px 0 15px;

	/* настройки flex-box */
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap; 
}

.star-container
{
	display: block;
	width:200px;
	height:200px;
	position:relative;
	color: black;
	text-transform: uppercase;
}


.star, .bg-star
{
	width:100%;
	height:100%;
}

.star-container:hover .bg-star
{
	-webkit-filter: blur(10px);
	opacity: 0.5;
}

.star-container:hover h3
{
	bottom:0px;
	opacity: 1;
}

.star
{
	-webkit-mask: url('img/star-mask.svg');
	-webkit-mask-repeat:no-repeat;
	-webkit-mask-size:95.105% 90.45%;
	-webkit-mask-position:center top;
	position: absolute;
}
.bg-star
{
	position: absolute;
	transition:all 0.4s;
	border-radius: 50%;
}

.star-container h3
{
	position: absolute;
	padding:5px 0 5px 0;
	bottom:-100px;
	width:100%;
	margin:0;
	text-align: center;
	transition: all 0.4s;
	background-color: rgba(255,255,255,0.8);
}
/* конец блока про звезд */

/* начало блок Новинки */
.contNewMusic
{
	/*background-color: #EA69A6;	*/	/*!!!!!!!!временно!!!!!!!*/
	margin-top: 15px;
}
.fa-bolt 									/*знак молнии*/
{
	font-size: 1.57rem;
	margin-left: 0.71rem;
}


.bg-starNew
{
	width: 96%;
}

/*-------------------------------------------------*/
h3
{
	margin:0px;
}
h4
{
	margin-bottom: 0.7rem;
}

.starsBal
{
	background-image:url('img/rating.png');
	width:100px;
	height:17px;
	margin-top: 6px;
	margin-left:auto;
	margin-right:auto;
	background-position: 0 -68px; /* -14=1зв -32это2зв -50это3зв -68=4зв -86=5зв */
}



.contNewMusic
{
	margin-top: 0;
	display:flex; /*ВЫРАВНИВАНИЕ в ряд э-тов*/
	justify-content:space-around; /*РАСПРЕДЕЛЕНИЕ равномерно распределяются по всей строке*/
	flex-wrap: wrap; /*АВТОПЕРЕНОС придает  гибкость флекс-эл-там: элементы разбиваются на несколько строк*/ 
	width:100%;
	/*overflow:hidden; ВРОДЕ НЕ НУЖНО!!! содержимое, выходящее за пределы блока элемента, будет скрыто.*/
}
.contAlbom
{
	margin: 15px;
	width:240px;
}

.linkAlbom
{
	display:block;		/*теперь ведет себя как блочный эл-т*/
	/*position:relative;*/
	height:240px;
	width:240px;
}


@media screen and (max-width: 960px)
{
	.contAlbom
	{
		width:250px;
	}
	
	.linkAlbom
	{
		width:250px;
		height:250px;
	}
}





@media screen and (max-width: 720px) /*было 413 680*/
{
	.contNewMusic
	{
		justify-content:space-around; /*раньше between*/	
	}

	.contAlbom
	{
		width:159px;
	}
	
	.linkAlbom
	{
		width:160px;
		height:160px;
	}
}


/*медиа запрос для маленьких экранов*/
@media screen and (max-width: 435px)
{
	.contNewMusic
	{
		justify-content:center;
	}

	.contAlbom
	{
		width: 289px;
		margin:0;
	}
	
	.linkAlbom
	{
		width: 289px;
		height: 289px;	
	}
}

/*
для ОЧЕНЬ маленьких экранчиков
@media screen and (max-width: 304px)
{
	.contNewMusic
	{
		justify-content:center;
	}

	.contAlbom
	{
		width: 100%;
		margin:0;
	}
	
	.linkAlbom
	{
		width: 100%;
		height: 100%;	
	}
}
*/

